{% extends "/partials/base.html" %}

{% block content %}

<h1>Rick and Morty Characters</h1>

<div class="d-flex justify-content-between align-items-center bg-warning p-2 mb-3">
  <form action="/url/set" method="post">
    <input type="hidden" name="url" value="{{ info.prev }}">
    <button type="submit" class="btn btn-primary {{ 'disabled' if not info.prev else '' }}">Previous</button>
  </form>
  <form action="/url/set" method="post">
    <input type="hidden" name="url" value="{{ info.next }}">
    <button type="submit" class="btn btn-primary {{ 'disabled' if not info.next else '' }}">Next</button>
  </form>
</div>

<div class="d-flex flex-wrap main-content">
  {% for character in characters %}
  <div class="card w-25">
    <img src="{{ character.image }}" alt="{{ character.name }}" class="card-img-top">
    <div class="card-body">
      <h4 class="card-title">{{ character.name }}</h4>
      <p class="card-text mb-0">
        <strong>Species:</strong>
        {{ character.species }}
      </p>
      <p class="card-text">
        <strong>Gender:</strong>
        {{ character.gender }}
      </p>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}